.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #ffff;
    z-index: 100%;
    width: 100%;
    padding: 10px;
}

.header__container > img{
    margin-left: 20px;
    object-fit: contain;
    height: 100px;
}

.header__center{
    display: flex;
    align-items: center;
    flex: 1;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
    max-width: fit-content;
    padding: 10px;
}

.header__center > input {
    border: none;
    outline: none;
    width: 500px;
    padding: 10px;

}
 
.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px ;

}